Pods/Pods.xcodeproj/xcuserdata/pcperini.xcuserdatad/xcschemes/Pods-Alamofire.xcscheme
Pods/Pods.xcodeproj/xcuserdata/pcperini.xcuserdatad/xcschemes/Pods-CHTCollectionViewWaterfallLayout.xcscheme
Pods/Pods.xcodeproj/xcuserdata/pcperini.xcuserdatad/xcschemes/Pods-SIOSocket.xcscheme
supercluster.xcodeproj/project.xcworkspace/xcshareddata/supercluster.xccheckout
supercluster.xcodeproj/xcuserdata/pcperini.xcuserdatad/xcschemes/supercluster Watch App.xcscheme
supercluster.xcodeproj/xcuserdata/pcperini.xcuserdatad/xcschemes/xcschememanagement.plist
supercluster.xcworkspace/xcshareddata/supercluster.xccheckout
supercluster.xcworkspace/xcuserdata/pcperini.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist